.articles {
    position: relative;
    padding-top: 42px;
    padding-bottom: 44px;
    overflow: hidden;
    &__wrapper {
        display: grid;
        grid-template-columns: 0.85fr 1.15fr;
        grid-column-gap: 34px;
        grid-row-gap: 52px;
        grid-auto-rows: minmax(100px, auto);
    }

    &__image {
        width: 100%;
        img {
            display: block;
            width: 100%;
            object-fit: contain;
            border-radius: 20px;
        }
    }
 
    &__subtitle {
        width: 220px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 35px;
        width: 100%;
    }
    &__button {
        width: 100%;
    }
    &__col {
        &-1 {
            max-width: 800px;
        }
    }
    &__empty {
        display: none;
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        text-transform: uppercase;
        color: $darkgrey;
        &-white {
            color: #fff;
        }
    }
}