.articles {
    position: relative;
    padding-top: 42px;
    padding-bottom: 44px;

    &__wrapper {
        display: grid;
        grid-template-columns: 0.85fr 1.15fr;
        grid-column-gap: 34px;
        grid-row-gap: 52px;
        grid-auto-rows: minmax(100px, auto);
    }

    &__image {
        width: 100%;
        img {
            display: block;
            width: 100%;
            object-fit: contain;
            border-radius: 20px;
        }
    }
 
    &__subtitle {
        max-width: 220px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 35px;
        width: 100%;
    }
    &__item {
        padding: 40px 57px;
        border: 1px solid $blue;
        border-radius: 20px;
        max-width: 477px;
        background-color: #fff;
    }
    &__top {
        display: flex;
        justify-content: space-between;
    }
    &__caption {
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        text-transform: uppercase;
        color: $darkgrey;
        max-width: 231px;
    }
    &__date {
        font-weight: 700;
        font-size: 15px;
        line-height: 130%;
        color: $middlegrey;
    }
    &__description {
        margin-top: 28%;
        font-weight: 700;
        font-size: 15px;
        line-height: 130%;
        max-width: 363px;
        color: $middlegrey;
    }
    &__button {
        width: 100%;
    }
}