.article {
    padding-top: 49px;
    &__wrapper {
        display: grid;
        grid-template-columns: 0.4fr 0.6fr 1.3fr;
        grid-auto-rows: minmax(auto, auto);
        grid-column-gap: 34px;
        grid-row-gap: 0px;
    }
    &__text {
        padding: 0px 40px;
        background-color: #fff;
        border-radius: 20px;
        border: 1px solid $blue;
        font-weight: 400;
        font-size: 23px;
        line-height: 150.5%;
        color: $middlegrey;
        p {
            margin: 40px 0px;
        }
    }
    &__image {
        margin: 40px 0px;
        width: 100%;
        img {
            width: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
    }
    &__navigation {
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
    }
}