.articles {
    padding-top: 42px;
    padding-bottom: 44px;
    &__top-row {
        display: flex;
        gap: 0px 140px;
    }
    &__bottom-row {
        margin-top: 52px;
        display: flex;
        gap: 0 34px;
    }

    &__image {
        width: 43.74%;
        img {
            display: block;
            width: 100%;
            object-fit: contain;
            border-radius: 20px;
        }
    }
 
    &__subtitle {
        max-width: 220px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 35px;
        width: 54.4%;
    }
    &__item {
        padding: 40px 57px;
        border: 1px solid $blue;
        border-radius: 20px;
        max-width: 477px;
        background-color: #fff;
    }
    &__top {
        display: flex;
        justify-content: space-between;
    }
    &__caption {
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        text-transform: uppercase;
        color: $darkgrey;
        max-width: 231px;
    }
    &__date {
        font-weight: 700;
        font-size: 15px;
        line-height: 130%;
        color: $middlegrey;
    }
    &__description {
        margin-top: 28%;
        font-weight: 700;
        font-size: 15px;
        line-height: 130%;
        max-width: 363px;
        color: $middlegrey;
    }
    &__button {
        width: 100%;
    }
}