.differ {
    top: 100px;
    position: relative;
    overflow: hidden;
    background: $blue;
    padding: 90px 0px 175px 0px;
    border-radius: 90px 90px 0px 0px;
    &__wrapper {
        display: flex;
        gap: 34px;
    }
    &__col {
        width: 50%;
        &:nth-child(1) {
            display: flex;
            justify-content: flex-end;
        }
    }
    &__title {
        max-width: 408px;
        text-align: right;
    }
    &__description {
        font-weight: 900;
        font-size: 40px;
        line-height: 130%;
        text-transform: uppercase;
        color: #FFFFFF;
        max-width: 990px;
    }
    &__imgs {
        position: absolute;
        display: flex;
        bottom: 175px;
        left: 50px;
        gap: 0px 36px;
    }
    &__img {
        width: 200px;
        height: 200px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
    }
}