.ecosystem {
    padding-top: 90px;
    padding-bottom: 90px;
    position: relative;
    &__wrapper {
        display: flex;
        gap: 0px 33px;
    }
    &__title {
        text-align:right;
    }
    &__col {
        width: 49%;
    }
    &__row {
        display: flex;
        max-width: 709px;
        margin-top: 10px;
        &-1 {
            justify-content: space-between;
        }
        &-2 {
            justify-content: space-around;
        }
        &-3 {
            justify-content: space-between;
        }
        &-4 {
            div {
                margin-left: 50%;
            }
        }
        
    }
    &__item {
        display: flex;
        align-items: center;
        gap: 0px 15px;
        &-mt7 {
            margin-top: 7px;
        }
        &-mt-5 {
            margin-top: 5px;
        }
    }
    &__img {
        width: 30px;
        height: 30px;
    }
    &__login {
        font-weight: 700;
        font-size: 15px;
        line-height: 130%;
        text-align: right;
        text-transform: uppercase;
        color: $blue;
    }
    &__button {
        margin-top: 40px;
    }
}