.features {
    position: relative;
    overflow: hidden;
    padding: 90px 0px;
    border-radius: 92px 92px 0px 0px;
    top: -85px;
    background-color: $lightgrey;
    &__image {
        &-1 {
            position: absolute;
            top: 402px;
            right: 122px;
        }
        &-2 {
            position: absolute;
            bottom: 200px;
            right: 122px;
        }
    }
    &__title {
        margin-left: 27%;
        position: absolute;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 34px;
        grid-row-gap: 38px;
        max-width: 1034px;
        margin: 0 auto;
    }
    &__image {
        &-1 {
            top: 125px;
            right: 45px;
        }
        &-2 {
            bottom: 79px;
            left: 45px;
        }
    }
    &__item {
        padding: 40px;
        background-color: white;
        max-width: 500px;
        border: 1px solid #0F55F9;
        &-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-first {
            grid-area: 2 / 1 / 3 / 2;
            border-radius: 20px 0px 20px 20px;
        }
        &-second {
            grid-area: 1 / 2 / 2 / 3;
            border-radius: 20px 20px 20px 0px;
        }
        &-third {
            grid-area: 2 / 2 / 3 / 3;
            border-radius: 20px;

        }
        &-fourth {
            grid-area: 3 / 2 / 4 / 3;
            border-radius: 0px 20px 20px 20px;
        }
    }
    &__caption {
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        color: $darkgrey;
        display: flex;
        align-items: center;
        gap: 8px;
        text-transform: uppercase;
    }
    &__description {
        margin-top: 16.5%;
        max-height: 264px;
        font-weight: 700;
        font-size: 15px;
        line-height: 130%;
        color: #96989B;
    }
    &__button {
        display: block;
        margin: 0 auto;
        margin-top: 33px;
    }
}