.footer {
    position: relative;
    top: 0px;
    padding: 100px 0px;
    border-radius: 92px 92px 0px 0px;
    background-color: $lightgrey;
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__list {
        display: flex;
        gap: 0px 13px;
    }
    &__link {
        transition: all 0.3s ease;
        &:hover {
            opacity: 0.8;
        }
    }
    &__write {
        position: absolute;
        top: 100px;
        right: 50px;
        font-weight: 700;
        font-size: 15px;
        line-height: 130%;
        max-width: 102px;
        text-align: right;
        span {
            color: $middlegrey;
        }
        #copy-me {
            color: $blue;
            transition: all 0.3s ease;
            cursor: pointer;
            &:hover {
                opacity: 0.8;
            }
            &:active {
                color: darkblue;
            }
        }
    }
}