.header {
    padding-top: 38px;
    &__wrapper {
        position: relative;
        display: flex;
        padding-bottom: 8px;
        &-line {
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 0%;
            height: 1px;
            background: $blue;
        }          
    }
    &__logo {
        margin-right: 31%;
        font-size: 50px;
        line-height: 59px;
        &:visited {
            color: $blue;
        }
    }
    &__nav {
        display: flex;
        align-items: center;
    }
    &__list {
        display: flex;
        gap: 21px;
    }
    &__link {
        background-color: $white;
        border-radius: 74px;
        padding: 2px 15px;
        font-size: 25px;
        line-height: 1.7rem;
        color: $darkgrey;
        font-weight: 400;
        transition: all 0.3s ease;
        &:hover {
            color: $blue;
        }
    }
}