.mission {
    position: relative;
    background: $blue;
    padding: 90px 0px 175px 0px;
    border-radius: 90px 90px 0px 0px;
    &__wrapper {
        margin-left: 27.5%;
        display: flex;
        gap: 34px;
    }
    &__description {
        font-weight: 900;
        font-size: 40px;
        line-height: 130%;
        text-transform: uppercase;
        color: #FFFFFF;
        max-width: 990px;
    }
}