.services {
    position: relative;
    // padding-bottom: 183px;
    padding-bottom: 103px;
    top: -85px;
    &__main-id.id {
        top: 0px;
    }
    &.circle {
        &::after {
            top: 0px;
        }
    }
    &__title {
        margin-left: 17.8%;
    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
    &__item {
        position: relative;
        display: flex;
        gap: 0px 33px;
        padding-top: 30px;
        padding-bottom: 24px;
        border-bottom: 1px solid #0F55F9;
        width: 100%;
        justify-content: center;
    }
    &__id.id {
        position: absolute;
        top: 30px;
        left: 0px;
    }
    &__caption {
        font-weight: 700;
        font-size: 15px;
        line-height: 130%;
        text-transform: uppercase;
        color: $darkgrey;
    }
    &__description {
        font-weight: 700;
        font-size: 15px;
        line-height: 130%;
        color: #96989B;
        max-width: 422px;
    }
    
}