.token {
    position: relative;
    overflow: hidden;
    &__main-id.id {
        top: 0px;
    }
    &.circle {
        &::after {
            top: 0px;
        }
    }
    &__title {
        margin-left: 17.8%;
    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
    &__item {
        position: relative;
        display: flex;
        padding-top: 30px;
        padding-bottom: 24px;
        border-bottom: 1px solid #0F55F9;
        width: 100%;
        justify-content: center;
        &-wrapper {
            display: flex;
            gap: 0px 33px;
        }
    }
    &__id.id {
        position: absolute;
        top: 30px;
        left: 0px;
    }
    &__caption {
        font-weight: 700;
        font-size: 15px;
        line-height: 130%;
        text-transform: uppercase;
        color: $darkgrey;
        max-width: 292px;
        min-width: 292px;
        text-align: right;
        word-wrap: break-word;
    }
    &__description {
        font-weight: 700;
        font-size: 15px;
        line-height: 130%;
        color: $middlegrey;
        max-width: 422px;
        word-wrap: break-word;
    }
    
}