@media (max-width: 1919px) {
    .container {
        padding: 0 45px;
    }
    .header {
        padding-top: 35px;
    }
    .id {
        top: 75px;
        left: 45px;
    }
    .caption__header {
        font-size: 136px;
        line-height: 120px;
    }
    .circle {
        &::after {
            top: 75px;
            right: 45px;
        }
    }
    .intro {
        padding-top: 40px;
        padding-bottom: 70px;
        // &__title {
        //     font-size: 136px;
        //     line-height: 120px;
        // }
        &__subtitle {
            margin-top: 45px;
        }
        &__img {
            &-first {
                left: 298px;
                bottom: 173px;
            }
            &-second {
                left: 45px;
                bottom: 75px;
            }
            &-third {
                display: none;
            }
        }
        &__line {
            width: 1120px;
            height: 340px;
            &-first {
                transform: rotate(30deg);
                bottom: 200px;
                right: -300px;
                width: 1200px;
            }
            &-second {
                bottom: 0px;
                right: 50px;
            }
        }
        &__button {
            margin-top: 240px;
            margin-left: 45.5%;
        }
    }

    .mission {
        padding: 75px 0px 147px 0px;
        &__wrapper {
            flex-direction: column;
            margin-left: 0%;
            gap: 18px;
        }
        &__title {
            margin-left: 20.8%;
        }
    }

    .features {
        padding: 79px 0px;
        .id {
            top: 79px;
        }
        &.circle {
            &::after {
                top: 79px;
            }
        }
        &__title {
            margin-left: 16.4%;
            top: 79px;
        }
        &__list {
            margin-top: 48px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 14px;
        }
        &__item {
            &-first {
                grid-area: 1 / 1 / 2 / 2;

            }
            &-second {
                grid-area: 2 / 1 / 3 / 2;
                margin-left: 42.2%;
            }
            &-third {
                grid-area: 3 / 1 / 4 / 2;
    
            }
            &-fourth {
                grid-area: 4 / 1 / 5 / 2;
                margin-left: 42.2%;
            }
        }
        &__button {
            margin-left: 50%;
            margin-top: 40px;
        }
    }
    
    .services {
        // padding-bottom: 163px;
        // padding-bottom: 83px;
        &__list {
            margin-top: 0px;
        }
        &__title {
            margin-left: 23.7%;
            max-width: 263px;
            text-align: right;
        }
        &__item {
            // justify-content: stretch;
            gap: 0px 5px;
        }
        &__caption {
            margin-left: 26.48%;
        }
        &__description {
            margin-top: 20px;
            max-width: 347px;
        }
    }
    .share {
        padding-top: 83px;
        padding-bottom: 156px;
        &.circle {
            top: 83px;
        }
        &__main-id.id {
            top: 83px;
        }
        &__title {
            max-width: 383px;
            text-align: right;
        }
        &__form {
            max-width: 100%;
            margin-left: 0%;
            padding-top: 70px;
            gap: 15px 0px;
        }
        &__input {
            padding: 30px 75px 37px 75px;
        }
        &__button {
            margin-left: 50%;
            margin-top: 40px;
        }
    }

    .articles {
        padding-top: 40px;
        padding-bottom: 0px;
        &__wrapper {
            display: grid;
            grid-template-columns: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 20px;
            grid-auto-rows: minmax(100px, auto);
        }
        &__col {
            &-1 {
                grid-area: 1 / 1 / 2 / 2;
            }
            &-2 {
                grid-area: 3 / 1 / 4 / 2;
            }
            &-3 {
                grid-area: 2 / 1 / 3 / 2;
            }
            &-4 {
                grid-area: 4 / 1 / 5 / 2;
            }
        }
        &__subtitle {
            max-width: 455px;
            margin-left: 50%;
        }
        &__image {
            margin-top: 29px;
            width: 100%;
        }
        &__list {
            gap: 20px;
            width: 100%;
        }
        &__button {
            margin-top: 20px;
        }
    }

    .article {
        &__wrapper {
            grid-template-columns: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 59px;
        }
        &__text {
            margin-top: 14px;
        }
        &__navigation {
            margin-top: 42px;
        }
    }

    .card {
        padding: 40px;
        &__description {
            margin-top: 10%;
        }
    }

    .about {
        padding-bottom: 90px;
        &__wrapper {
            margin-top: 41px;
        }
        &__title {
            max-width: 300px;
        }
        &__col {
            &-right {
                width: 50%;
            }
        }
        
        &__image {
            top: 244px;
            left: 45px;
            width: 425px;
            height: 99px;
            img {
                object-position: 0% 30%;
            }
        }
    }

    .footer {
        padding: 83px 0px;
        &__wrapper {
            justify-content: space-between;
        }
        &__write {
            position: static;
        }
    }
}

@media (max-width: 999px) {
    .container {
        padding: 0 30px;
    }
    .button {
        padding: 20px 114px;
    }
    .id {
        left: 30px;
    }
    .caption__header {
        font-size: 105px;
        line-height: 93px;
    }
    .circle {

        &::after {
            right: 30px;
        }
    }
    .header {
        padding-top: 22px;
        &__logo {
            font-size: 40px;
            line-height: 46px;
            margin-right: 17.3%;
        }
        .pixel {
            font-size: 40px;
            line-height: 46px;
        }
        .roboto-900 {
            font-size: 40px;
            line-height: 46px;
        }
    }
    .intro {
        padding-top: 47px;
        padding-bottom: 74px;
        // &__title {
        //     font-size: 105px;
        //     line-height: 93px;
        // }
        &__subtitle {
            margin-top: 30px;
            max-width: 311px;
            margin-left: 50%;
        }
        &__img {
            &-first {
                left: 30px;
                bottom: 240px;
            }
            &-second {
                display: none;
            }
            &-third {
                display: block;
                bottom: 74px;
                left: 30px;
                width: 251px;
                height: 146px;
                object-fit: cover;
                border-radius: 20px;
            }
        }
        &__line {
            width: 950px;
            height: 265px;
            &-first {
                transform: rotate(30deg);
                bottom: 250px;
                right: -300px;
                width: 1050px;
            }
            &-second {
                bottom: 100px;
                right: 50px;
            }
        }
        &__button {
            margin-top: 280px;
            margin-left: 45.5%;
        }
    }
    .mission {
        &__description {
            font-size: 34px;
        }
    }
    .features {
        padding: 79px 0px;
        .id {
            top: 79px;
        }
        &.circle {
            &::after {
                top: 79px;
            }
        }
        &__image {
            &-1 {
                display: none;
            }
            &-2 {
                display: none;
            }
        }
        &__title {
            margin-left: 19.9%;
            max-width: 233px;
            text-align: right;
        }
        &__list {
            margin-top: 75px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 14px;
        }
        &__item {
            &-first {
                grid-area: 1 / 1 / 2 / 2;

            }
            &-second {
                grid-area: 2 / 1 / 3 / 2;
                margin-left: 30.9%;
            }
            &-third {
                grid-area: 3 / 1 / 4 / 2;
    
            }
            &-fourth {
                grid-area: 4 / 1 / 5 / 2;
                margin-left: 30.9%;
            }
        }
        &__button {
            margin-left: 50%;
            margin-top: 40px;
        }
    }
    .services {
        // padding-bottom: 163px;
        // padding-bottom: 80px;
        &__list {
            margin-top: 0px;
        }
        &__title {
            margin-left: 16%;
            max-width: 263px;
            text-align: right;
        }
        &__item {
            gap: 0px 0px;
            flex-direction: column;
            align-items: flex-end;
        }
        &__description {
            margin-top: 10px;
        }
    }

    .share {
        padding-top: 74px;
        padding-bottom: 152px;
        &__main-id.id {
            top: 74px;
        }
        &.circle {
            top: 74px;
        }
        &__title {
            margin-left: 19%;
            max-width: 250px;
        }
        &__form {
            padding-top: 100px;
            gap: 10px 0px;
        }
        &__input {
            padding: 22px 58px;
        }
        &__button {
            margin-top: 29px;
            max-width: 350px;
        }
    }

    .articles {
        padding-top: 47px;
        padding-bottom: 40px;
        &__wrapper {
            display: grid;
            grid-template-columns: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 12px;
            grid-auto-rows: minmax(100px, auto);
        }
        &__col {
            &-1 {
                grid-area: 1 / 1 / 2 / 2;
            }
            &-2 {
                grid-area: 3 / 1 / 4 / 2;
            }
            &-3 {
                grid-area: 2 / 1 / 3 / 2;
            }
            &-4 {
                grid-area: 4 / 1 / 5 / 2;
            }
        }
        &__subtitle {
            max-width: 455px;
            margin-left: 50%;
        }
        &__image {
            margin-top: 24px;
            width: 100%;
        }
        &__list {
            gap: 15px;
            width: 100%;
            margin-top: 33px;
            flex-direction: column;
            flex-wrap: nowrap;
        }
        &__button {
            margin-top: 30px;
        }
    }

    .article {
        padding-top: 55px;
        grid-row-gap: 44px;
        &__caption {
            font-size: 15px;
            max-width: 252px;
        }
        &__description {
            font-size: 15px;
        }
        &__text {
            font-size: 18px;
            p {
                font-size: 18px;
            }
        }
        &__button {
            padding: 20px 74px;
        }
    }

    .card {
        max-width: 100%;
        padding: 40px;
        &__description {
            margin-top: 10%;
            max-width: 100%;
        }
    }

    .about {
        padding-top: 40px;
        padding-bottom: 90px;
        &__wrapper {
            margin-top: 37px;
            gap: 0px 11px;
        }
        &__title {
            max-width: 300px;
        }
        &__subtitle {
            max-width: 354px;
        }
        &__text-block {
            margin-left: 0px;
            gap: 0 11px;
        }
        &__image {
            top: 220px;
            left: 30px;
            width: 343px;
            height: 99px;
            img {
                object-position: 0% 30%;
            }
        }
    }


    .footer {
        padding: 73px 0px;
        &__wrapper {
            justify-content: space-between;
        }
        &__write {
            position: static;
        }
        &__list {
            gap: 0px 9px;
        }
        &__link {
            display: block;
            width: 33px;
            height: 33px;
        }
    }
}


@media (max-width: 767px) {
    .container {
        padding: 0 20px;
    }
    
    .title {
        font-size: 13px;
    }

    .button {
        padding: 7.5px 20.5px;
        font-size: 10px;
        line-height: 12px;
    }

    .id {
        top: 46px;
        left: 20px;
        font-size: 13px;
    }

    .caption__header {
        font-size: 42px;
        line-height: 37.34px;
        letter-spacing: -0.1px;
    }

    .caption__text {
        font-size: 13px;
        line-height: 16.9px;
    }

    .circle {
        &::after {
            display: none;
        }
    }
    
    .header {
        padding-top: 20px;
        &__logo {
            font-size: 16px;
            line-height: 18.75px;
            margin-right: 2.8%;
        }
        .pixel {
            font-size: 16px;
            line-height: 18.75px;
        }
        .roboto-900 {
            font-size: 16px;
            line-height: 18.75px;
        }
        &__list {
            gap: 5px;
        }
        &__link {
            border-radius: 74px;
            padding: 2px 8px;
            font-size: 13px;
            line-height: 15.2px;
        }
    }
    .intro {
        padding-top: 10px;
        padding-bottom: 46px;
        &__title {
            // font-size: 42px;
            // line-height: 37.34px;
            // letter-spacing: -0.1px;
            width: 100%;
        }
        &__subtitle {
            max-width: 100%;
            margin-left: 0%;
            margin-top: 158px;
            // font-size: 13px;
            // line-height: 16.9px;
        }
        &__img {
            &-first {
                left: 100%;
                bottom: 45%;
                transform: translateX(-115%);
                width: 144px;
                height: 136px;
            }
            &-second {
                display: none;
            }
            &-third {
                display: none;
            }
        }
        &__line {
            width: 600px;
            height: 145px;
            &-first {
                transform: rotate(30deg);
                bottom: 150px;
                right: -300px;
                width: 600px;
            }
            &-second {
                bottom: 40px;
                right: -130px;
            }
        }
        &__button {
            margin-top: 26.5px;
            margin-left: 0%;
        }
    }
    .mission {
        padding: 46px 0px 73px 0px;
        border-radius: 36px 36px 0px 0px;
        &__wrapper {
            gap: 10px;
        }
        &__description {
            font-size: 20px;
        }
    }

    .features {
        padding: 45px 0px;
        top: -45px;
        border-radius: 36px 36px 0px 0px;
        .id {
            top: 45px;
        }
        &.circle {
            &::after {
                top: 45px;
            }
        }
        &__image {
            &-1 {
                display: none;
            }
            &-2 {
                display: none;
            }
        }
        &__title {
            margin-left: 19%;
            top: 45px;
        }
        &__image {
            &-1 {
                display: block;
                top: 78px;
                left: 20px;
                width: 280px;
                // width: 100%;
                height: 136px;
                object-fit: cover;
                border-radius: 20px;
            }
        }
        &__list {
            margin-top: 188px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 14px;
        }
        &__item {
            padding: 16px 23px;
            // max-height: 195px;
            max-width: 100%;
            &-first {
                border-radius: 20px 20px 20px 0px;
                grid-area: 1 / 1 / 2 / 2;

            }
            &-second {
                border-radius: 20px 20px 20px 0px;
                grid-area: 2 / 1 / 3 / 2;
                margin-left: 0%;
            }
            &-third {
                border-radius: 20px 20px 20px 0px;
                grid-area: 3 / 1 / 4 / 2;
    
            }
            &-fourth {
                border-radius: 20px 20px 20px 0px;
                grid-area: 4 / 1 / 5 / 2;
                margin-left: 0%;
            }
        }
        &__caption {
            font-size: 13px;
            gap: 10px;
            img {
                width: 9px;
                height: 9px;
            }
        }
        &__description {
            margin-top: 7.9%;
            font-size: 15px;
            line-height: 17px;
        }
        &__button {
            margin-left: 0%;
            margin-top: 23px;
        }
    }

    .services {
        position: relative;
        // top: -45px;
        // padding-bottom: 120px;
        // padding-bottom: 47px;
        &__item {
            padding: 10px 0px;
        }
        &__id.id {
            top: 10px;
        }
        &__caption {
            font-size: 13px;
            line-height: 16.9px;
        }
        &__description {
            font-size: 13px;
            line-height: 16.9px;
        }
    }

    .share {
        border-radius: 36px 36px 0px 0px;
        padding-top: 46px;
        padding-bottom: 100px;
        &.circle {
            top: 46px;
        }
        &__main-id.id {
            top: 46px;
        }
        &__title {
            margin-left: 7.29%;
        }
        &__form {
            padding-top: 50px;
            gap: 8px 0px;
        }
        &__input {
            padding: 15px 22px;

            font-size: 13px;
            line-height: 130%;
            &::placeholder {
                font-size: 13px;
                line-height: 130%;
            }
        }
        &__button {
            margin-top: 5px;
        }
    }

    .articles {
        padding-top: 11px;
        padding-bottom: 0px;
        &__wrapper {
            grid-row-gap: 10px;
            grid-auto-rows: minmax(auto, auto);
        }
        &__subtitle {
            max-width: 100%;
            margin-left: 0%;
        }
        &__image {
            margin-top: 0px;
            width: 100%;
        }
        &__list {
            gap: 6px;
        }
        &__button {
            margin-top: 22px;
        }
    }

    .article {
        padding-top: 13px;
        &__wrapper {
            grid-row-gap: 8px;
        }
        &__caption {
            font-size: 13px;
            max-width: 147px;
        }
        &__description {
            font-size: 13px;
        }
        &__text {
            padding: 0 27px;
            margin-top: 0px;
            font-size: 13px;
            p {
                margin: 15px 0px;
            }
        }
        &__navigation {
            margin-top: 23px;
        }
        &__button {
            padding: 7.5px 27px;
        }
    }

    .card {
        max-width: 100%;
        padding: 16px 24px 21px 24px;
        &__date {
            font-size: 13px;
    
        }
        &__caption {
            font-size: 13px;
            max-width: 147px;
        }
        &__description {
            font-size: 13px;
        }
    }

    .about {
        padding-top: 11px;
        padding-bottom: 46px;
        &__wrapper {
            margin-top: 200px;
            flex-direction: column;
        }
        &__col {
            width: 100%;
        }
        &__image {
            width: 136px;
            height: 172px;
            top: 59px;
            left: 20px;
        }
    }

    .footer {
        padding: 46px 0px;
        border-radius: 36px 36px 0px 0px;
        &__link {
            width: 33px;
            height: 33px;
        }
        &__write {
            font-size: 13px;
            line-height: 130%;
        }
        &__list {
            gap: 0px 10px;
        }
        &__link {
            display: block;
            width: 38px;
            height: 38px;
        }
    }
}