@media (max-width: 1919px) {
    .container {
        padding: 0 45px;
    }
    .header {
        padding-top: 35px;
    }
    .id {
        top: 75px;
        left: 45px;
    }
    .circle {
        &::after {
            top: 75px;
            right: 45px;
        }
    }
    .intro {
        padding-top: 40px;
        padding-bottom: 70px;
        &__title {
            font-size: 136px;
            line-height: 120px;
        }
        &__subtitle {
            margin-top: 45px;
        }
        &__img {
            &-first {
                left: 298px;
                bottom: 173px;
            }
            &-second {
                left: 45px;
                bottom: 75px;
            }
            &-third {
                display: none;
            }
        }
        &__line {
            width: 1120px;
            height: 340px;
            &-first {
                transform: rotate(30deg);
                bottom: 200px;
                right: -300px;
                width: 1200px;
            }
            &-second {
                bottom: 0px;
                right: 50px;
            }
        }
        &__button {
            margin-top: 240px;
            margin-left: 45.5%;
        }
    }

    .mission {
        padding: 75px 0px 147px 0px;
        &__wrapper {
            flex-direction: column;
            margin-left: 0%;
            gap: 18px;
        }
        &__title {
            margin-left: 20.8%;
        }
    }

    .features {
        padding: 79px 0px;
        .id {
            top: 79px;
        }
        &.circle {
            &::after {
                top: 79px;
            }
        }
        &__title {
            margin-left: 16.4%;
            top: 79px;
        }
        &__list {
            margin-top: 48px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 14px;
        }
        &__item {
            &-first {
                grid-area: 1 / 1 / 2 / 2;

            }
            &-second {
                grid-area: 2 / 1 / 3 / 2;
                margin-left: 42.2%;
            }
            &-third {
                grid-area: 3 / 1 / 4 / 2;
    
            }
            &-fourth {
                grid-area: 4 / 1 / 5 / 2;
                margin-left: 42.2%;
            }
        }
        &__button {
            margin-left: 50%;
            margin-top: 40px;
        }
    }
    
    .services {
        // padding-bottom: 163px;
        padding-bottom: 83px;
        &__list {
            margin-top: 0px;
        }
        &__title {
            margin-left: 23.7%;
            max-width: 263px;
            text-align: right;
        }
        &__item {
            // justify-content: stretch;
            gap: 0px 5px;
        }
        &__caption {
            margin-left: 26.48%;
        }
        &__description {
            margin-top: 20px;
            max-width: 347px;
        }
    }
}

@media (max-width: 999px) {
    .container {
        padding: 0 30px;
    }
    .button {
        padding: 20px 114px;
    }
    .id {
        left: 30px;
    }
    .circle {

        &::after {
            right: 30px;
        }
    }
    .header {
        padding-top: 22px;
        &__logo {
            font-size: 40px;
            line-height: 46px;
            margin-right: 17.3%;
        }
        .pixel {
            font-size: 40px;
            line-height: 46px;
        }
        .roboto-900 {
            font-size: 40px;
            line-height: 46px;
        }
    }
    .intro {
        padding-top: 47px;
        padding-bottom: 74px;
        &__title {
            font-size: 105px;
            line-height: 93px;
        }
        &__subtitle {
            margin-top: 30px;
            max-width: 311px;
            margin-left: 50%;
        }
        &__img {
            &-first {
                left: 30px;
                bottom: 240px;
            }
            &-second {
                display: none;
            }
            &-third {
                display: block;
                bottom: 74px;
                left: 30px;
                width: 251px;
                height: 146px;
                object-fit: cover;
                border-radius: 20px;
            }
        }
        &__line {
            width: 950px;
            height: 265px;
            &-first {
                transform: rotate(30deg);
                bottom: 250px;
                right: -300px;
                width: 1050px;
            }
            &-second {
                bottom: 100px;
                right: 50px;
            }
        }
        &__button {
            margin-top: 280px;
            margin-left: 45.5%;
        }
    }
    .mission {
        &__description {
            font-size: 34px;
        }
    }
    .features {
        padding: 79px 0px;
        .id {
            top: 79px;
        }
        &.circle {
            &::after {
                top: 79px;
            }
        }
        &__image {
            &-1 {
                display: none;
            }
            &-2 {
                display: none;
            }
        }
        &__title {
            margin-left: 19.9%;
            max-width: 233px;
            text-align: right;
        }
        &__list {
            margin-top: 75px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 14px;
        }
        &__item {
            &-first {
                grid-area: 1 / 1 / 2 / 2;

            }
            &-second {
                grid-area: 2 / 1 / 3 / 2;
                margin-left: 30.9%;
            }
            &-third {
                grid-area: 3 / 1 / 4 / 2;
    
            }
            &-fourth {
                grid-area: 4 / 1 / 5 / 2;
                margin-left: 30.9%;
            }
        }
        &__button {
            margin-left: 50%;
            margin-top: 40px;
        }
    }
    .services {
        // padding-bottom: 163px;
        padding-bottom: 80px;
        &__list {
            margin-top: 0px;
        }
        &__title {
            margin-left: 16%;
            max-width: 263px;
            text-align: right;
        }
        &__item {
            gap: 0px 0px;
            flex-direction: column;
            align-items: flex-end;
        }
        &__description {
            margin-top: 10px;
        }
    }
}


@media (max-width: 767px) {
    .container {
        padding: 0 20px;
    }
    
    .title {
        font-size: 13px;
    }

    .button {
        padding: 7.5px 20.5px;
        font-size: 10px;
        line-height: 12px;
    }

    .id {
        top: 46px;
        left: 20px;
        font-size: 13px;
    }

    .circle {
        &::after {
            display: none;
        }
    }
    
    .header {
        padding-top: 20px;
        &__logo {
            font-size: 16px;
            line-height: 18.75px;
            margin-right: 2.8%;
        }
        .pixel {
            font-size: 16px;
            line-height: 18.75px;
        }
        .roboto-900 {
            font-size: 16px;
            line-height: 18.75px;
        }
        &__list {
            gap: 5px;
        }
        &__link {
            border-radius: 74px;
            padding: 2px 8px;
            font-size: 13px;
            line-height: 15.2px;
        }
    }
    .intro {
        padding-top: 10px;
        padding-bottom: 46px;
        &__title {
            font-size: 42px;
            line-height: 37.34px;
            width: 100%;
            letter-spacing: -0.1px;
        }
        &__subtitle {
            max-width: 100%;
            margin-left: 0%;
            margin-top: 158px;
            font-size: 13px;
            line-height: 16.9px;
        }
        &__img {
            &-first {
                left: 100%;
                bottom: 45%;
                transform: translateX(-115%);
                width: 144px;
                height: 136px;
            }
            &-second {
                display: none;
            }
            &-third {
                display: none;
            }
        }
        &__line {
            width: 600px;
            height: 145px;
            &-first {
                transform: rotate(30deg);
                bottom: 150px;
                right: -300px;
                width: 600px;
            }
            &-second {
                bottom: 40px;
                right: -130px;
            }
        }
        &__button {
            margin-top: 26.5px;
            margin-left: 0%;
        }
    }
    .mission {
        padding: 46px 0px 73px 0px;
        border-radius: 36px 36px 0px 0px;
        &__wrapper {
            gap: 10px;
        }
        &__description {
            font-size: 20px;
        }
    }

    .features {
        padding: 45px 0px;
        top: -45px;
        border-radius: 36px 36px 0px 0px;
        .id {
            top: 45px;
        }
        &.circle {
            &::after {
                top: 45px;
            }
        }
        &__image {
            &-1 {
                display: none;
            }
            &-2 {
                display: none;
            }
        }
        &__title {
            margin-left: 19%;
            top: 45px;
        }
        &__image {
            &-1 {
                display: block;
                top: 78px;
                left: 20px;
                width: 280px;
                height: 136px;
                object-fit: cover;
                border-radius: 20px;
            }
        }
        &__list {
            margin-top: 188px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 14px;
        }
        &__item {
            padding: 16px 23px;
            // max-height: 195px;
            &-first {
                border-radius: 20px 20px 20px 0px;
                grid-area: 1 / 1 / 2 / 2;

            }
            &-second {
                border-radius: 20px 20px 20px 0px;
                grid-area: 2 / 1 / 3 / 2;
                margin-left: 0%;
            }
            &-third {
                border-radius: 20px 20px 20px 0px;
                grid-area: 3 / 1 / 4 / 2;
    
            }
            &-fourth {
                border-radius: 20px 20px 20px 0px;
                grid-area: 4 / 1 / 5 / 2;
                margin-left: 0%;
            }
        }
        &__caption {
            font-size: 13px;
            gap: 10px;
            img {
                width: 9px;
                height: 9px;
            }
        }
        &__description {
            margin-top: 7.9%;
            font-size: 15px;
            line-height: 17px;
        }
        &__button {
            margin-left: 0%;
            margin-top: 23px;
        }
    }

    .services {
        position: relative;
        top: -45px;
        // padding-bottom: 120px;
        padding-bottom: 47px;
        &__item {
            padding: 10px 0px;
        }
        &__id.id {
            top: 10px;
        }
        &__caption {
            font-size: 13px;
            line-height: 16.9px;
        }
        &__description {
            font-size: 13px;
            line-height: 16.9px;
        }
    }
}